body {
  font-family: sans-serif;
  margin: 40px auto;  /* Center the box horizontally with 'auto' margins */
  width: 330px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;  /* Center content within the box */
}

h1 {
  text-align: center;
  margin-top: 5px;
}

p {
  text-align: center; /* Add styles for paragraphs if needed */
}

input[type="password"] {
  color: #ccc;
  font-family: courier new;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  width: 290px;
  align-items: center;
  text-align: center;
}

button {  /* Add a class for the button styles */
  padding: 10px 20px;
  margin: 10px;
  background-color: navy; /* Color the button */
  color: white;
  border: none;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  width: 250px;
}

button:hover {
  background-color: navy; /* Change hover color to royalblue */
}
